.yearSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.yearSection > h2 {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
