.imageGallery {
  position: relative;
  background-color: #262626;
  flex-shrink: 0;
}

.imageGallery {
  user-select: none;
}

.imageGallery.expanded {
  width: 100%;
  transition: 200ms;
}

.galleryBtn {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 50px;
}

.galleryBtn {
  opacity: 0;
  transition: 100ms;
}

.galleryBtn:hover {
  opacity: 1;
  transition: 100ms;
}

.galleryBtnLeft {
  left: 0;
}

.galleryBtnRight {
  right: 0;
}

.galleryBtnExpand {
  left: 0;
  width: 100%;
}

.galleryIndicator {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.galleryIndicator > .wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(10px);
  margin-bottom: 5px;
  border-radius: 10px;
}

.galleryIndicator > .wrapper > .dot {
  line-height: 8px;
  cursor: pointer;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel > * {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: contain;
  display: inline;
  pointer-events: none;
}

@media screen and (max-width: 1281px) {
  .imageGallery {
    width: 400px;
    transition: 200ms;
  }
}

@media screen and (min-width: 1281px) {
  .imageGallery {
    width: 460px;
    transition: 200ms;
  }
}
