.cursor-gradient {
  position: relative;
  overflow: hidden;
}

.cursor-gradient:before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.cursor-gradient:hover:before {
  --size: 200px;
}

.cursor-gradient.project-card:before {
  background: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.3),
    transparent
  );
}

.cursor-gradient.project-card:hover:before {
  --size: 500px;
}
