/* Text styles */
* {
  font-family: "Geologica", sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: lowercase;
}

@media screen and (max-width: 1281px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1281px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}

b {
  font-weight: bold;
}

.lighter-text {
  opacity: 0.6;
}
