.portfolio-details {
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow: hidden;
}

.image-gallery {
  position: relative;
  background-color: #262626;
  flex-shrink: 0;
}

.image-gallery * {
  user-select: none;
}

.image-carousel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-carousel > img,
.image-carousel > video {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: contain;
  display: inline;
  pointer-events: none;
}

.image-gallery > .gallery-btn-left,
.image-gallery > .gallery-btn-right,
.image-gallery > .gallery-btn-toggle-expand {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
}

.image-gallery > .gallery-btn-left {
  left: 0;
  width: 50px;
}

.image-gallery > .gallery-btn-right {
  right: 0;
  width: 50px;
}

.image-gallery > .gallery-btn-toggle-expand {
  left: 0;
  width: 100%;
}

.image-gallery > .gallery-btn-left,
.image-gallery > .gallery-btn-right,
.image-gallery > .gallery-btn-toggle-expand {
  opacity: 0;
  transition: 100ms;
}

.image-gallery > .gallery-btn-left:hover,
.image-gallery > .gallery-btn-right:hover,
.image-gallery > .gallery-btn-toggle-expand:hover {
  opacity: 1;
  transition: 100ms;
}

.image-gallery > .gallery-indicator {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.image-gallery > .gallery-indicator > .wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  margin-bottom: 5px;
  border-radius: 10px;
}

.portfolio-details-contents {
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: wrap;
  padding: 20px 0;
}

.portfolio-details-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.portfolio-details-btn-group {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 10px 0;
}

@media screen and (max-width: 1281px) {
  .portfolio-details {
    width: 900px;
    height: 533px;
  }

  .image-gallery {
    width: 400px;
    transition: 200ms;
  }
}

@media screen and (min-width: 1281px) {
  .portfolio-details {
    width: 1100px;
    height: 613px;
  }

  .image-gallery {
    width: 460px;
    transition: 200ms;
  }
}

.portfolio-details.expanded-gallery > .image-gallery {
  width: 100%;
  transition: 200ms;
}

.portfolio-details.expanded-gallery > .portfolio-details-contents {
  display: none;
}
