.pdfModal {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.pdfModal > object {
  width: 100%;
  height: 100%;
}

.unsupportedMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
  gap: 15px;
}

@media screen and (max-width: 1281px) {
  .pdfModal {
    width: 65%;
    height: 85%;
  }
}
