.yearSelect {
  display: flex;
  flex-direction: column;
  text-align: right;

  background-color: red;

  width: 65px;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: transparent;
}

.yearSelectOption {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  padding: 5px 0;
  user-select: none;
}

.yearSelectOption.selected {
  color: white;
  scale: 1.05;
  transform-origin: right;
  transition: 100ms;
}
